@media only screen and (max-width: 640px) {
  .testimonial-sec {
    padding-block: 50px;
  }

  .main-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title-dec p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-block {
    max-width: 500px;
  }

  .main-testimonial-slider::before {
    width: 50px;
  }

  .main-testimonial-slider::after {
    width: 50px;
  }
}
