:root {
  --white: white;
  --black: #000;
  --primary: #0f172a;
  --boder-color: transparent;
  --img-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(5290%) hue-rotate(177deg) brightness(120%) contrast(100%);
}

body.dark-theme {
  --white: #000000;
  --black: #ffffff;
  --primary: #f5f6f8;
  --boder-color: #e8ecef;
  --img-color: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(268deg) brightness(97%) contrast(107%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  background-color: var(--black);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 20px;
}

.testimonial-sec {
  padding-block: 100px;
  overflow: hidden;
  position: relative;
}

.main-testimonial-slider {
  position: relative;
}

.main-testimonial-slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(90deg, var(--black) 0%, transparent 75%);
}

.main-testimonial-slider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 146px;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(90deg, transparent 0%, var(--black) 96%);
}

.testimonial-block {
  display: flex;
  width: 100%;
  background-color: var(--primary);
  border-radius: 10px;
  overflow: hidden;
  max-width: 650px;
  margin-bottom: 20px;
  border: 1px solid var(--boder-color);
}

.main-title {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.title-dec p {
  color: var(--white);
  text-align: center;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 600px;
  text-align: center;
  margin-inline: auto;
}

.testimonial-name {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 6px;
}

.testimonial-post {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 12px;
}

.testimonial-content p {
  color: var(--white);
  font-weight: 200;
  font-size: 12px;
  line-height: 1.6;
}

.testimonial-img {
  width: 100%;
  max-width: 112px;
}

.testimonial-img img {
  width: 100%;
  height: 100%;
  min-height: 174px;
  object-fit: cover;
}

.testimonial-content {
  padding: 16px;
  width: 100%;
  position: relative;
}

.testimonial-sec .splide__track {
  overflow: visible;
}

#toggleTheme {
  padding: 16px;
  border-radius: 50px;
  border: 0;
  margin-top: 10px;
  border: 1px solid var(--white);
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

.qut-img {
  width: 30px;
  height: 3vw;
  position: absolute;
  top: 0;
  right: 10px;
}

.qut-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: var(--img-color);
}
